body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    color: #333;
}

.day {
    margin-bottom: 20px;
}

h2 {
    background-color: #007BFF;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #007BFF;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

td[contenteditable="true"]:focus {
    background-color: #e0e0e0;
}
/* Estilo para columnas con ancho fijo */
.fixed-width {
    width: 100px; /* Ajusta el ancho según tus necesidades */
    white-space: nowrap; /* Evita el ajuste de texto en múltiples líneas */
    overflow: hidden; /* Oculta el contenido que se desborde */
    text-overflow: ellipsis; /* Muestra puntos suspensivos si el contenido es demasiado largo */
}